<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="RUN_MODE" value="DEVELOP"/>
		<add key="MA_DON_VI" value="GEN"/>
		<add key="MA_HE_THONG" value="KT"/>
		<add key="SERVER" value=".\SQLEXPRESS"/>
		<add key="INITIAL_DATABASE" value="TRM"/>
		<add key="FILL_DATABASE" value="TRM"/>
		<add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD"/>
		<add key="INITIAL_USER" value="sa"/>
		<add key="PASS_WORD" value="sa"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
